<div class="flex w-full h-screen" *ngIf="currentRoom == 0">
  <div class="flex w-full justify-center items-center h-full">
    <div class="flex flex-col justify-items-center space-y-4">
      <input class="input input-bordered" [(ngModel)]="room">
      <button class="btn" (click)="joinRoom()">Enter room</button>
    </div>
  </div>
</div>

<div class="flex flex-col w-full h-full" *ngIf="currentRoom != 0">
  <div class="flex w-full pt-6 pb-10">
    <h2 class="text-xl">
      Room
      <span class="badge badge-lg badge-secondary">{{ currentRoom }}</span>
    </h2>
  </div>

  <div class="flex flex-col w-full border border-gray-200 rounded-md p-6 items-center">
    <div class="flex w-full" *ngFor="let message of messages">
      <app-raw-html id="container" class="flex w-full" [htmlContent]="message"></app-raw-html>
    </div>

    <div class="flex w-full">
      <div class="flex w-full items-end pt-6">
        <label class="input input-bordered flex w-full items-center pr-0">
          <input type="text" [(ngModel)]="messageContent" (focusin)="markAsSeen()" class="grow" placeholder="Type here"/>
          <button class="btn" (click)="sendMessage()">
            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e8eaed">
              <path d="M120-160v-640l760 320-760 320Zm80-120 474-200-474-200v140l240 60-240 60v140Zm0 0v-400 400Z"/>
            </svg>
          </button>
        </label>
      </div>
    </div>
  </div>
</div>
